[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-asdf-prompt"]
	path = zsh/plugins/zsh-asdf-prompt
	url = https://github.com/CurryEleison/zsh-asdf-prompt
[submodule "scripts/z"]
	path = scripts/z
	url = git@github.com:rupa/z.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
