{{- /* Set .osid and combine with release detail if needed. */ -}}
{{- /* Eg. "darwin", "linux-ubuntu", "linux-arch" etc */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
    {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Check if this is an ephemeral machine. Default is false. */ -}}
{{- $ephemeral := false -}}

{{- $ephemeralEnv := env "EPHEMERAL" | not | not -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}
{{- $githubactions := env "GITHUB_ACTIONS" | not | not -}}

{{- if or $ephemeralEnv $codespaces $devcontainer $githubactions -}}
    {{- $ephemeral = true -}}
{{- end -}}

{{- /* Assign these here so we can use them within this template directly */ -}}
{{- $op_personal_account_id := "4AJFPVWM6RED5MW6XZQ3B4MOLQ" -}}
{{- $op_snailed_account_id := "AMBWLKZBBRH47FSA4FDBAAXOFU" -}}
{{- $op_sound_account_id := "6HIWXKNESVA4DIJ7ZSX7ECSS4M" -}}

{{- /* Check whether to prompt for input based on DF_NON_INTERACTIVE or if the shell is not interactive */ -}}
{{- $not_interactive_env := env "DF_NON_INTERACTIVE" | not | not -}}
{{- $interactive_shell := stdinIsATTY -}}

{{- /* If non interactive, we will fill variables from env vars */ -}}
{{- $use_envs := or $not_interactive_env (not $interactive_shell) -}}

{{- $dev_computer := false -}}
{{- $sound_computer := false -}}
{{- $personal_computer := false -}}
{{- $server := false -}}
{{- $does_backup_backblaze := true -}}
{{- $does_backup_b2 := true -}}

{{- /* Get email from 1Password */ -}}
{{ $personal_email := onepasswordRead "op://Private/Personal/Internet Details/email" $op_personal_account_id | quote }}


{{- if $use_envs -}}
    {{- $dev_computer = env "DF_DEV_COMPUTER" | not | not -}}
    {{- $sound_computer = env "DF_SOUND_COMPUTER" | not | not -}}
    {{- $personal_computer = env "DF_PERSONAL_COMPUTER" | not | not -}}
    {{- $server = env "DF_SERVER" | not | not -}}
    {{- if not $ephemeral -}}
        {{- if eq $osid "darwin" -}}
            {{- $does_backup_backblaze = env "DF_DOES_BACKUP_BACKBLAZE" | not | not -}}
        {{- else -}}
            {{- $does_backup_backblaze := false -}}
        {{- end -}}
        {{- $does_backup_b2 = env "DF_DOES_BACKUP_B2" | not | not -}}
    {{- else -}}
        {{- $does_backup_backblaze := false -}}
        {{- $does_backup_b2 := false -}}
    {{- end -}}
    {{- $personal_email = env "PERSONAL_EMAIL" | not | not -}}
{{- else -}}
    {{- $dev_computer = promptBool "Is this a computer for development work? (true/false)" -}}
    {{- $sound_computer = promptBool "Is this a computer for sound work? (true/false)" -}}
    {{- $personal_computer = promptBool "Is this a computer for personal use? (true/false)" -}}
    {{- $server = promptBool "Is this a server? (true/false)" -}}
    {{- if not $ephemeral -}}
        {{- if eq $osid "darwin" -}}
            {{- $does_backup_backblaze = promptBool "Should this machine be backed up to Backblaze? (true/false)" -}}
        {{- else -}}
            {{- $does_backup_backblaze := false -}}
        {{- end -}}
        {{- $does_backup_b2 = promptBool "Should this machine be backed up to B2? (true/false)" -}}
    {{- else -}}
        {{- $does_backup_backblaze := false -}}
        {{- $does_backup_b2 := false -}}
    {{- end -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    hostname = {{ .chezmoi.hostname | quote }}
    interactive = {{ $interactive_shell }}

    dev_computer = {{ $dev_computer }}
    sound_computer = {{ $sound_computer }}
    personal_computer = {{ $personal_computer }}
    server = {{ $server }}
    ephemeral = {{ $ephemeral }}

    op_personal_account_id = {{ $op_personal_account_id | quote }}
    op_snailed_account_id = {{ $op_snailed_account_id | quote }}
    op_sound_account_id = {{ $op_sound_account_id | quote }}

    home = {{ .chezmoi.homeDir | quote }}
    user = {{ .chezmoi.username | quote }}

    personal_email =  {{ $personal_email }}

    does_backup_backblaze = {{ $does_backup_backblaze }}
    does_backup_b2 = {{ $does_backup_b2 }}