{{- if not .server -}}

Host domserv-001
  HostName domserv-001
  ForwardAgent yes

Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_rsa

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- end -}}