{{- if .does_backup -}}
{{- $hostname := .hostname | lower -}}
{{- if hasKey .restic.paths $hostname -}}
{{- $paths := index .restic.paths $hostname -}}
{{- range $index, $path := $paths.paths -}}
{{ $path }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
