"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "43384040-c780-4330-ae92-a8220436a3d6"
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-preview-enhanced":
    fileExtension: ".md, .mmark, .markdown, .txt"
  "mojave-dark-mode":
    notifyOnChange: false
  welcome:
    showOnStartup: false
